body{
    background: #eee;
    color : #333;
    font-family: sans-serif;
    font-size: 15px;
}

#wrapper {
    background: #fff;
    width: 1100px;
    margin: 20px auto;
}

#wrapper header{
    background: #232323;
    padding: 20px;
}

hgroup{
    padding: 8px;
    background-color: #232323;
    color: #fff;
}

hgroup h1{
    text-align: center;
}

.clear{
    clear: both;
}

footer{
    background: #232323;
    padding: 5px;
}

footer p{
    text-align: center;
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h1{
    text-align: center;
}

.item{
    text-align: left;
}

tr td a{
    padding: 7px;
    text-decoration: none;
    background-color: #232323;
    margin-top: 10px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #232323;
}

tr td a:hover{
    background-color: #fff;
    color: #232323;
    border: 2px solid #fff;
}

tr td a:active{
    background-color: rgb(6, 0, 90);
    color: #fff;
    border: 2px solid rgb(6, 0, 90);
}